@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    The security baseline begins the process of working toward the creation, implementation and continuous evaluation of a Tailored Security Plan (TSP).  
    The security baseline includes the identification of assets and protection measures in place prior to the introduction of asset-specific threat 
    data and countermeasures.
</p>
<p>
    The security baseline component is purposefully industry-dependent, as they have direct access to the subject matter experts most capable of 
    identifying their assets and the security professionals that implement the measures and controls to protect those assets.  
    In short, the security baseline is a cataloging of current assets, and the identification of the activities currently being performed to 
    protect those assets.
</p>
<p>
    The major components of the security baseline:
</p>
<ol>
    <li>Asset identification</li>
    <li>Security control/protection measure identification</li>
</ol> 

<h3>Downloads</h3>
<ul>
    <li><a href="~/Downloads/SecurityBaselineTemplate.pdf">Security Baseline Template</a></li>
    <li><a href="~/Downloads/SecurityBaselineUserGuide.pdf">Security Baseline User Guide</a></li>
</ul>
