@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>The Security Baseline Tool is a product of the DiT Methodology Development Team (MDT) working under the DSS Change Management Office (CMO).</p>