@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>Security Baseline Tool</h1>
    <p class="lead">The Security Baseline tool is an automated means of identifying assets and controls currently in place within a given organization.</p>
    <p><a href="@Url.Action("WarningBanner", "SecBase")" class="btn btn-primary btn-lg">Get Started &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Getting started</h2>
        <p>
            Why do you need a Security Baseline?  The security baseline is the starting point to the risk-based assessment methodology.
            It begins the process of working toward the creation, implementation and continuous evaluation of a Tailored Security Plan (TSP).
        </p>
        <p><a href="@Url.Action("About", "Home")" class="btn btn-default">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>DSS in Transition</h2>
        <p>DSS has recognized the need for transition and is now moving forward in partnership with industry to design, develop, and pilot
        a multidimensional approach to industrial security oversight. Our goal is to help cleared industry ensure that 
        contracted capabilities, technologies, and services are delivered uncompromised.</p>
        <p><a class="btn btn-default" href="http://www.dss.mil/dit.html">Learn more &raquo;</a></p>
    </div>
</div>