
@{
    ViewBag.Title = "Export";
    Layout = "~/Views/Shared/_SBTLayout.cshtml";
}

<h2>Export</h2>

<h3>This is where you will download the generated Microsoft Word or XML versions of the Security Baseline.</h3>

<a href="@Url.Action("SecurityBaselineTemplate", "SecBase")" class="btn btn-default">Download Word (.docx)</a>
